:global {
  @import 'base';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .scroll-description {
    height: 35px;
    overflow: hidden;
  }

  .scroll-description-body {
    height: 80px;
    transition: all 1.5s;

  }
  .fb-icon {
    font-size: 30px;
    color: white;
  }
  .fb-icon-black {
    font-size: 60px;
    color: #415D9E;
  }
  .main-block {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .main-background-not-ready {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
  }
  .main-background {
    transition: opacity 1s;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://pixabay.com/static/uploads/photo/2015/01/08/15/48/bridge-593148_960_720.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
